{% extends 'examination/base.html' %} 

{% block title %} Letter {% endblock %}

{% block pagetitle %} 
<div class="d-flex justify-content-between align-items-center">
    <h4>Details for: <b>{{letter.surname}}, {{ letter.name }}</b></h4> 
 <a class="btn btn-primary"
  href="{% url 'letter:createLetter' %}">Create Letters</a>
  
 </div>
{%  endblock %}

{% block body %}

<table class="table table-bordered">
    <tr>
      <td>Surname Name</td>
      <td>{{ letter.surname }}</td>
    </tr>
    <tr>
      <td>Other Names</td>
      <td>{{ letter.name }}</td>
    </tr>
    <tr>
      <td>Faculty</td>
      <td>{{ letter.faculty }}</td>
    </tr>
      <tr>
       <td>Institution Address</td>
      <td>{{ letter.institutionAddress }}</td> 
      </tr>
      <tr>
        <td>Institution Country</td>
       <td>{{ letter.InstitutionAddressCountry }}</td> 
       </tr>
       <tr>
        <td>Examination Center Country</td>
       <td>{{ letter.countryOfTheExamination }}</td> 
       </tr>
      <tr>
         <td>Role</td>
      <td>{{ letter.role }}</td>
      </tr>
     <tr>
       <td>Membership OR Fellowship</td>
      <td>{{ letter.membershipOrFellowship }}</td>
     </tr>
     <tr>
      <td>Hotel</td>
      <td>{{ letter.hotel }}</td>
     </tr>
      <tr>
         <td>CC</td>
      <td>{{ letter.cc }}</td>
      </tr>
     <tr>
       <td>Center of Examination</td>
      <td>{{ letter.centerOfTheExamination }}</td>
     </tr>
     <tr>
      <td>Hold At</td>
     <td>{{ letter.holdAt }}</td>
    </tr>
    <tr>
      <td>On or Before</td>
     <td>{{ letter.onOrBefore }}</td>
    </tr>
     <tr>
       <td>Arrival Date</td>
      <td>{{ letter.arrivalDate }}</td>
     </tr>
     <tr>
        <td>Departure Date</td>
       <td>{{ letter.depatureDate }}</td>
      </tr>
      <tr>
        <td>Email Address</td>
       <td>{{ letter.email }}</td>
      </tr>
      <tr>
        <td>User Type</td>
       <td>{{ letter.userType }}</td>
      </tr>
     
    
   </table>
   {% endblock %}