{% extends 'examination/base.html' %} 

{% block title %} Letter {% endblock %}

{% block pagetitle %} 
<div class="d-flex justify-content-between align-items-center">
    <h4>Letter</h4> 
 <a class="btn btn-primary"
  href="{% url 'letter:createLetter' %}">Create Letters</a>
  
 </div>
{%  endblock %}

{% block body %}

 
<div class="d-flex justify-content-between py-12">
<h2>Letters:</h2>
<form action="" method="POST" id="searchForm"
class="d-flex justify-content-between gap:10px">
   {% csrf_token %}
   
   {{ form.examination }}
   {{ form.faculty }}
   
   
    <button type="submit" class="btn btn-primary ml-2">Display</button>
    <button type="submit" onclick="document.getElementById('searchForm').action='/letter/send-letter/'" class="btn btn-primary ml-2">Send Letter</button>

    <button type="button" class="btn btn-danger"
     onclick="window.history.back()">Cancel</button>

</form>


</div><br><br>

<!-- Bordered Table -->
<table class="table table-bordered mt-[10px]">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Surname</th>
      <th scope="col">Name</th>
      <th scope="col">Examination Name</th>
      <th scope="col">Faculty</th>
      <th scope="col">Examination Center</th>
        <th>Action</th>
   </tr>
  </thead>
  <tbody>
      {% for letter in letters %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ letter.surname }}</td>
      <td>{{ letter.name }}</td>
      <td>{{ letter.examination.examName }}</td>
      <td>{{ letter.faculty }}</td>
      <td>{{ letter.centerOfTheExamination }}</td>
      <td>
        <a href="{% url 'letter:details' letter.id  %}"> 
          <button class="btn btn-dark">View </button></a>
       <a href="{% url 'letter:mailsample' letter.id %}">
         <button class="btn btn-danger">View Letter</button></a> 

      </td>
    </tr>
    {%  empty %}
    <h4>Select an Examination and Faculty to display Letters</h4>
    {%  endfor %}
  </tbody>
</table>
<!-- End Bordered Table -->

<!--paginator here-->

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock %}