<!DOCTYPE html>
<html>
<head>
 
</head>
<body>

    <table>
        <tr>
            
            <td colspan="2">
                <img src="https://wacp-coam.org/public/images/letterApp/letterHead.png" 
                width="850px" height="150px">
            </td>
        </tr>
        <tr>
            <td width="150px"><img src="https://wacp-coam.org/public/images/letterApp/letterSide.jpg"
                height="900px" width="150px"></td>
            <td width="600px">
                <div id="mailholder" style="
                width: 700px;
                
                text-align: justify;">
            
           <br>
              <table width="100%">
                <tr>
                    <td><b>Ref: WACP/EXAM/CLINICALS/25A</b></td>
                    <td width="20%"><p style="float: right;">{{ letter.created_at|date:"F d, Y" }}</p></td>
                </tr>
              </table>           
                         
                    <b>Dr. {{ letter.surname }} {{ letter.name }}</b>, <br>
            Department of {{ letter.faculty }},<br>
            <b>{{ letter.institutionAddress }}</b><br><br>
            <b>Dear Dr. {{ letter.surname }}</b>,<br><br>
            <b>INVITATION LETTER FOR THE {{letter.examination.examName }}</b><br><br>
            On behalf of the President and Council of the West African College of Physicians (WACP),
            I have the pleasure of inviting you to serve as <b>{{ letter.role }}</b> for the
            <b>{{letter.examination.examName }} of the College</b>
            of the College. Kindly note: <br><br>

                The examinations would hold  {% if letter.holdAt|lower != 'online' %}at {% endif %}<b>{{ letter.holdAt }}</b><br><br>

            You will be examining in the <b>{{ letter.membershipOrFellowship }}</b>
            Examination of the Faculty of
            <b>{{ letter.faculty }}.</b><br><br>

<!-- MAIN EDITING STARTS HERE -->
            {% if letter.role|lower != 'examiner' and letter.role|lower != 'online examiner' %}
            <!-- those who are not examiners starts here -->
                  <p>{{ letter.examination.arrivalinfo }}</p>  
                    <p>	Please ensure to purchase your return air tickets no later than 
                      two weeks before your arrival for the {{letter.examination.examName}}. 
                      Refunds will be processed based on the airline rates applicable 
                      two weeks prior to the date of travel.
                       Kindly submit your flight tickets to: flightticket@wacpcoam.org.</p>

                      <p>
                          {% if letter.hotel %}
            You will be accommodated in <b>{{ letter.centerOfTheExamination }}</b>, 
            at <b> {{ letter.hotel }}</b>.<br><br>
            {% endif %}
                      </p>
                      <p>
                      As an Examiner, it is mandatory to contribute questions to the Examination 
                        Bank of the Faculty and ensure the prompt return of assessed proposals.
                      </p>
                      <p>
                      You are kindly advised not to travel at night for security reasons.
                      </p>
                    <p>
                     <b>NOTE</b> <br>
	Kindly indicate your availability via the email addresses below: ha@wacpcoam.org, goodluckadmin@wacpcoam.org, hodexams@wacpcoam.org, and copy secgen@wacpcoam.org, on or before Friday, January 54, 2022.
<br>
Kindly send your bank account details via email to flightticket@wacpcoam.org for the payment of Examiners’ honoraria. (For Nigerian Examiners ONLY).
                    </p>
            <!-- Those who are not examiners end here -->
            {% endif %}

            {%if letter.role|lower == 'examiner' %}
            <!-- those who are examiners start here -->
       <p>
                      You are expected to arrive <b>{{ letter.centerOfTheExamination }}</b>, {{ letter.centerOfTheExaminationCountry }}
                      on <b>{{ letter.arrivalDate }}</b> and depart
                        on <b>{{ letter.depatureDate }}</b>. A copy of the examination timetable is
                        attached.<br>
                      </p>
                      <p>
                      Kindly ensure you continue to fulfil all your financial obligations to the College 
                        (Annual Fellowship Dues and Building Levy). Please note that for those who are not in good
                         financial standing,
                         annual dues will be deducted from the honorarium at source.
                      </p>

                  <p>
                      {% if letter.hotel %}
                              You will be accommodated in <b>{{ letter.centerOfTheExamination }}</b>,
                              at <b> {{ letter.hotel }}</b>.<br><br>
                              {% endif %}
                  </p>
                      <p>
                      As an Examiner, it is mandatory to contribute questions to the Examination
                         Bank of the Faculty and ensure prompt return of assessed proposals.
                      </p>
<br>
                      <p>
                      You are kindly advised not to travel at night for security reasons.
                      </p>

                      <p>
                       <b>NOTE</b> 
Kindly indicate your availability via the email addresses below: ha@wacpcoam.org,
 goodluckadmin@wacpcoam.org, hodexams@wacpcoam.org, and copy secgen@wacpcoam.org, 
 on or before  {{ letter.onOrBefore }}.
<br>
<br>Kindly send your bank account details via email to flightticket@wacpcoam.org 
for the payment of Examiners’ honoraria. (For Nigerian Examiners ONLY).


                      </p>
            <!-- those who are examiners end here -->
            {% endif %}

        {% if letter.role|lower == 'virtual examiner' or letter.role|lower == 'online examiner' %}

                      <p>
                        Kindly ensure you continue to fulfill all your financial obligations to the College
                         (Annual Fellowship Dues and Building Levy). Please note that for those who are not 
                         financially in good standing, annual dues will be deducted from the honorarium at source.
                      </p>
                      <p>
                       As an examiner, it is mandatory to contribute questions 
                        to the Examination Bank of the 
                        Faculty and ensure prompt return of assessed proposals
                      </p><br>

                      <p>
                <b>NOTE:</b>
                AVAILABILITY: Kindly indicate your availability by emailing the following addresses:
                ha@wacpcoam.org, goodluckadmin@wacpcoam.org, hodexams@wacpcoam.org, and 
                copy secgen@wacpcoam.org, ON OR BEFORE {{ letter.onOrBefore }}.

                                      </p>
                {% endif %}


                 

            Thank you for your cooperation and support.<br>
            <img src="https://wacp-coam.org/public/images/letterApp/sg_signature.png"
            width="207" height="64">  <br> 
            <b>Dr Musa Dankyau, FWACP, (Fam. Med.)</b><br>
            Secretary-General <br>
              </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="https://wacp-coam.org/public/images/letterApp/letterFooter.png"
                width="900" height="90">
            </td>
        </tr>
        
    </table>

   
</body>
</html>
