<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        function printDiv(mailholder) {
    var divContents = document.getElementById(mailholder).innerHTML;
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = divContents;  // Replace the entire body with div content
    window.print();  // Trigger the print dialog
    document.body.innerHTML = originalContents;  // Restore the original content
}
    </script>
</head>
<body>
<h2>Dear  Dr. {{ letter.surname }} {{ letter.name }},</h2>
<p>Please find attached INVITATION LETTER for the {{ letter.examination.examName }},
    including the Examination Timetable and TOT Flyer for your reference. </p>
<p>Please note the following:</p>


<!-- THIS IS FOR EXCOS AND CE -->
{% if letter.role|lower != 'examiner' %}

              <!-- ghanas that are not examiners start here -->

                  <!-- for examiners in ghana start here -->
              {% if letter.countryOfTheExamination|lower == 'ghana' or letter.InstitutionAddressCountry == 'ghana' %}

     <ul>

        <ol>An honorarium of $50.00 (Fifty US Dollars) will be paid to you for each part of the examination in which you fully participate.
</ol><br>
        <ol>
     You are entitled to a meal allowance of GH300.00 (Three Hundred Ghana Cedis) per day.

        </ol><br>
     </ul>
              <br>  
<p>PLEASE ACKNOWLEDGE THIS MAIL AND COPY THE FOLLOWING EMAILS: 
ha@wacpcoam.org; goodluckadmin@wacpcoam.org; hodexams@wacpcoam.org;
sanni.jimah@wacpcoam.org; secgen@wacpcoam.org  AND YOUR CHIEF EXAMINER</p>
<br><br>
<p><b>VIRTUAL TOT WORKSHOP WILL HOLD AS FOLLOWS:</b></p>

<p><b>TOPIC: </b>   {{ letter.examination.totTopic }}</p>
<p> <b>DATE: </b>   {{ letter.examination.totDate }}</p> 
<p> </b> {{ letter.examination.totDetails }}</p>

Thank you.

            {% endif %}  

              <!-- ghanians that are not examiners end here -->

              <!-- Nigerian that are not examiners start here -->
                {% if letter.countryOfTheExamination|lower == 'nigeria' or letter.InstitutionAddressCountry == 'nigeria' %}

            <ul>
            <ol>
                You will receive a payment of N75,000.00 (Seventy-Five Thousand Naira) for pre-examination preparations.
 </ol><br>

            <ol>An honorarium of N60,000.00 (Sixty Thousand Naira) will be paid to you for each part of the examination in which you fully participate.
</ol><br>

            <ol>You are entitled to a meal allowance of N10,000 (Ten Thousand Naira) per weekday and N20,000 (Twenty Thousand Naira) for weekends.
</ol>
            
        </ul>

        
        
        NOTE: YOU ARE ENTITLED TO A WELCOME MEAL ON ARRIVAL AT YOUR HOTEL


 <br>  
<p>PLEASE ACKNOWLEDGE THIS MAIL AND COPY THE FOLLOWING EMAILS: 
ha@wacpcoam.org; goodluckadmin@wacpcoam.org; hodexams@wacpcoam.org;
sanni.jimah@wacpcoam.org; secgen@wacpcoam.org  AND YOUR CHIEF EXAMINER</p>
<br><br>
<p><b>VIRTUAL TOT WORKSHOP WILL HOLD AS FOLLOWS:</b></p>

<p><b>TOPIC: </b>   {{ letter.examination.totTopic }}</p>
<p> <b>DATE: </b>   {{ letter.examination.totDate }}</p> 
<p> </b> {{ letter.examination.totDetails }}</p>

Thank you.
                      {% endif %}
                            <!-- Nigerians not examiners end here -->
{% endif %}

  
<!-- EXCOS AND CE ENDS HERE -->





<!-- THIS IS FOR EXAMINERS -->
{% if letter.role|lower == 'examiner' %}

            <!-- for examiners in ghana start here -->
              {% if letter.countryOfTheExamination|lower == 'ghana' or letter.InstitutionAddressCountry == 'ghana' %}

     <ul>

        <ol>An honorarium of $50.00 (Fifty US Dollars) will be paid to you for each part of the examination in which you fully participate.
</ol><br>
        <ol>
     You are entitled to a meal allowance of GH300.00 (Three Hundred Ghana Cedis) per day.

        </ol><br>
     </ul>
              <br>  
<p>PLEASE ACKNOWLEDGE THIS MAIL AND COPY THE FOLLOWING EMAILS: 
ha@wacpcoam.org; goodluckadmin@wacpcoam.org; hodexams@wacpcoam.org;
sanni.jimah@wacpcoam.org; secgen@wacpcoam.org  AND YOUR CHIEF EXAMINER</p>
<br><br>
<p><b>VIRTUAL TOT WORKSHOP WILL HOLD AS FOLLOWS:</b></p>

<p><b>TOPIC: </b>   {{ letter.examination.totTopic }}</p>
<p> <b>DATE: </b>   {{ letter.examination.totDate }}</p> 
<p> </b> {{ letter.examination.totDetails }}</p>

Thank you.

            {% endif %}  


              <!-- for examiners in ghana ends here here -->
                            {% if letter.countryOfTheExamination|lower == 'nigeria' %}

   <ul>
              {% if letter.holdAt|lower != 'online' %}
            <ol>Please ensure to purchase your return air tickets no later than two weeks before your arrival for the {{ letter.examination.examName }}.
               Refunds will be processed based on the airline rates applicable two weeks prior to the date of travel. 
              Kindly submit your flight tickets to: flightticket@wacpcoam.org
</ol><br> 
              {% endif %}
            <ol>An honorarium of N60,000.00 (Sixty Thousand Naira) will be paid to you for each part of the examination in which you fully participate.
</ol><br>
            <ol>You are entitled to a meal allowance of N10,000 (Ten Thousand Naira) per weekday and N20,000 (Twenty Thousand Naira) for weekends.
</ol>
         </ul>
                       {% if letter.hotel %}
        NOTE: YOU ARE ENTITLED TO A WELCOME MEAL ON ARRIVAL AT YOUR HOTEL
                        {% endif %}

         <br>  
<p>PLEASE ACKNOWLEDGE THIS MAIL AND COPY THE FOLLOWING EMAILS: 
ha@wacpcoam.org; goodluckadmin@wacpcoam.org; hodexams@wacpcoam.org;
sanni.jimah@wacpcoam.org; secgen@wacpcoam.org  AND YOUR CHIEF EXAMINER</p>
<br><br>
<p><b>VIRTUAL TOT WORKSHOP WILL HOLD AS FOLLOWS:</b></p>

<p><b>TOPIC: </b>   {{ letter.examination.totTopic }}</p>
<p> <b>DATE: </b>   {{ letter.examination.totDate }}</p> 
<p> </b> {{ letter.examination.totDetails }}</p>

Thank you.
                              {% endif %}
{% endif %}
<!-- Examiners end here -->



   
</body>
</html>
